.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(243, 243, 243);
  padding: 10px 20px;
}
.cart-icon {
  font-size: 30px;
  margin-left: 10px;
}
.cart-count-badge {
  background-color: #fc8019;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border-radius: 50%;
  padding: 2px 5px;
  align-self: flex-start;
}

.cart-myOrders-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.myOrders-text {
  display: none;
}
@media (min-width: 768px) {
  .myOrders-text {
    display: block;
  }
}
.logout-desktop-btn {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 10px;
  padding: 8px 16px;
  color: #ffffff;
  background-color: #fc8019;
  border: none;
  border-radius: 4px;
  margin-left: 14px;
  cursor: pointer;
  outline: none;
}
.logout-cart-container {
  display: flex;
  align-items: center;
}
.nav-link {
  text-decoration: none;
}
.restaurant-name {
  font-size: 25px;
  font-weight: 700;
  color: black;
}
.cart-button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
}
